@font-face {
    font-family: "Nexa Bold";
    src: url("NexaBold.ttf");
}

.mainscreen {
    -fx-background-image: url("./mainscreen.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.button {
    -fx-font-family: "Nexa Bold";
    -fx-font-size: 40px;
    -fx-background-color: #a7a7a7;
    -fx-border-radius: 60px;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
}