@font-face {
    src: url('NexaLight.ttf') format('truetype');
}

.mainscreen {
    -fx-background-image: url("./mainscreen.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.button {
    -fx-font-size: 40px;
    -fx-font-family: 'Nexa Light';
    -fx-background-color: #a7a7a7;
    -fx-border-radius: 60px;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
    -fx-skin: 'me.logicologist.wordiple.client.gui.buttonskins.NormalSkin';
}

.button:hover {
    -fx-background-color: #d45858;
    -fx-font-family: 'Nexa Light';
    -fx-effect: dropshadow(three-pass-box, #000000, 30, 0.2, 0, 0);
}

.button:armed {
    -fx-background-color: #9d2a2a;
    -fx-font-family: 'Nexa Light';
    -fx-translate-y: -4;
}

/*
.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
 */