@font-face {
    src: url('NexaLight.ttf') format('truetype');
}

@font-face {
    src: url('NexaBold.ttf') format('truetype');
}

.mainscreen {
    -fx-background-image: url("./mainscreen.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.text-field-1 {
    -fx-font-size: 25px;
    -fx-font-family: 'Nexa Bold';
    -fx-text-fill: #131313;
    -fx-prompt-text-fill: #616161;
    -fx-background-color: #c1c1c1;
    -fx-background-radius: 10px;
}

.label-title {
    -fx-font-size: 30px;
    -fx-font-family: 'Nexa Bold';
}

.label-body {
    -fx-font-size: 15px;
    -fx-font-family: 'Nexa Light';
}

.label-subtext-warning {
    -fx-font-size: 13px;
    -fx-font-family: 'Nexa Bold';
}

.button-1 {
    -fx-font-size: 40px;
    -fx-font-family: 'Nexa Light';
    -fx-background-color: #2e1c3e;
    -fx-border-radius: 60px;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
    -fx-skin: 'me.logicologist.wordiple.client.gui.buttonskins.NormalSkin';
}

.button-2 {
    -fx-font-size: 25px;
    -fx-font-family: 'Nexa Bold';
    -fx-background-color: #c1c1c1;
    -fx-border-radius: 60px;
}

.button-3 {
    -fx-font-size: 25px;
    -fx-font-family: 'Nexa Bold';
    -fx-background-color: #ff4f4f;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
}

.rectangle-bg {
    -fx-font-size: 40px;
    -fx-font-family: 'Nexa Light';
    -fx-background-color: #2e1c3e;
    -fx-border-radius: 60px;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
}
/*
.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
 */