@font-face {
    src: url('NexaLight.ttf') format('truetype');
}

@font-face {
    src: url('NexaBold.ttf') format('truetype');
}

.mainscreen {
    -fx-background-image: url("./mainscreen.png");
    -fx-background-repeat: no-repeat;
}

.background {
    -fx-background-image: url("./background.png");
    -fx-background-repeat: no-repeat;
}

.button-zen {
    -fx-font-size: 50px;
    -fx-font-family: 'Nexa Bold';
    -fx-background-image: url("./zenbutton.png");
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
    -fx-skin: 'me.logicologist.wordiple.client.gui.buttonskins.HorizontalSkin';
}

.button-competitive {
    -fx-font-size: 50px;
    -fx-font-family: 'Nexa Bold';
    -fx-background-image: url("./competitivebutton.png");
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
    -fx-skin: 'me.logicologist.wordiple.client.gui.buttonskins.HorizontalSkin';
}

.button-casual {
    -fx-font-size: 50px;
    -fx-font-family: 'Nexa Bold';
    -fx-background-image: url("./casualbutton.png");
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
    -fx-skin: 'me.logicologist.wordiple.client.gui.buttonskins.HorizontalSkin';
}

.button-time-royale {
    -fx-font-size: 50px;
    -fx-font-family: 'Nexa Bold';
    -fx-background-image: url("./timeroyalebutton.png");
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
    -fx-skin: 'me.logicologist.wordiple.client.gui.buttonskins.HorizontalSkin';
}

.button-private-match {
    -fx-font-size: 50px;
    -fx-font-family: 'Nexa Bold';
    -fx-background-image: url("./privatematchbutton.png");
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
    -fx-skin: 'me.logicologist.wordiple.client.gui.buttonskins.HorizontalSkin';
}

.text-field-1 {
    -fx-font-size: 25px;
    -fx-font-family: 'Nexa Bold';
    -fx-text-fill: #131313;
    -fx-prompt-text-fill: #616161;
    -fx-background-color: #c1c1c1;
    -fx-background-radius: 10px;
}

.text-field-2 {
    -fx-font-size: 50px;
    -fx-font-family: 'Nexa Bold';
    -fx-text-fill: #131313;
    -fx-prompt-text-fill: #616161;
    -fx-background-color: #c1c1c1;
    -fx-background-radius: 10px;
}

.label-title {
    -fx-font-size: 30px;
    -fx-font-family: 'Nexa Bold';
}

.label-bigtitle {
    -fx-font-size: 100px;
    -fx-font-family: 'Nexa Bold';
}

.label-body {
    -fx-font-size: 15px;
    -fx-font-family: 'Nexa Light';
}

.label-subtext-warning {
    -fx-font-size: 13px;
    -fx-font-family: 'Nexa Bold';
}

.button-1 {
    -fx-font-size: 40px;
    -fx-font-family: 'Nexa Light';
    -fx-background-color: #2e1c3e;
    -fx-border-radius: 60px;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
    -fx-skin: 'me.logicologist.wordiple.client.gui.buttonskins.NormalSkin';
}

.button-2 {
    -fx-font-size: 25px;
    -fx-font-family: 'Nexa Bold';
    -fx-background-color: #c1c1c1;
    -fx-border-radius: 60px;
    -fx-skin: 'me.logicologist.wordiple.client.gui.buttonskins.BaseLockedSkin';
}

.button-3 {
    -fx-font-size: 25px;
    -fx-font-family: 'Nexa Bold';
    -fx-background-color: #ff4f4f;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
    -fx-skin: 'me.logicologist.wordiple.client.gui.buttonskins.NormalSkin';
}

.button-3-outline {
    -fx-font-size: 25px;
    -fx-font-family: 'Nexa Bold';
    -fx-background-color: rgba(255, 79, 79, 0.18);
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
}

.rectangle-bg {
    -fx-font-size: 40px;
    -fx-font-family: 'Nexa Light';
    -fx-background-color: #2e1c3e;
    -fx-border-radius: 60px;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
}

.rectangle-swipetransition {
    -fx-background-image: url("./swipetransition.png");
    -fx-background-color: transparent;
}
/*
.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
 */