@font-face {
    src: url('NexaLight.ttf') format('truetype');
}

@font-face {
    src: url('NexaBold.ttf') format('truetype');
}

.mainscreen {
    -fx-background-image: url("./mainscreen.png");
    -fx-background-repeat: no-repeat;
}

.background {
    -fx-background-image: url("./background.png");
    -fx-background-repeat: no-repeat;
}

.rectangle-chirank-fill {
    -fx-background-image: url("chirankbig.png");
    -fx-background-color: transparent;
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.1, 0, 0);
}

.button-zen {
    -fx-background-image: url("./zenbutton.png");
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
    -fx-skin: 'me.logicologist.wordiple.client.gui.buttonskins.LeftSkin';
}

.button-competitive {
    -fx-background-image: url("./competitivebutton.png");
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
    -fx-skin: 'me.logicologist.wordiple.client.gui.buttonskins.LeftSkin';
}

.button-competitive-queue-enter-button {
    -fx-background-image: url("./competitiveenterqueuebutton.png");
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
    -fx-skin: 'me.logicologist.wordiple.client.gui.buttonskins.LeftSkin';
}

.button-competitive-queue-leave-button {
    -fx-background-image: url("./competitiveleavequeuebutton.png");
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
    -fx-skin: 'me.logicologist.wordiple.client.gui.buttonskins.LeftSkin';
}

.button-casual {
    -fx-background-image: url("./casualbutton.png");
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
    -fx-skin: 'me.logicologist.wordiple.client.gui.buttonskins.LeftSkin';
}

.button-casual-queue-enter-button {
    -fx-background-image: url("./casualenterqueuebutton.png");
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
    -fx-skin: 'me.logicologist.wordiple.client.gui.buttonskins.LeftSkin';
}

.button-casual-queue-leave-button {
    -fx-background-image: url("./casualleavequeuebutton.png");
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
    -fx-skin: 'me.logicologist.wordiple.client.gui.buttonskins.LeftSkin';
}

.button-time-royale {
    -fx-background-image: url("./timeroyalebutton.png");
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
    -fx-skin: 'me.logicologist.wordiple.client.gui.buttonskins.LeftSkin';
}

.button-private-match {
    -fx-background-image: url("./privatematchbutton.png");
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
    -fx-skin: 'me.logicologist.wordiple.client.gui.buttonskins.LeftSkin';
}

.button-back {
    -fx-background-image: url("./backbutton.png");
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
    -fx-skin: 'me.logicologist.wordiple.client.gui.buttonskins.RightSkin';
}

.text-field-1 {
    -fx-font-size: 25px;
    -fx-font-family: 'Nexa Bold';
    -fx-text-fill: #131313;
    -fx-prompt-text-fill: #616161;
    -fx-background-color: #c1c1c1;
    -fx-background-radius: 10px;
}

.text-field-2 {
    -fx-font-size: 50px;
    -fx-font-family: 'Nexa Bold';
    -fx-text-fill: #131313;
    -fx-prompt-text-fill: #616161;
    -fx-background-color: #c1c1c1;
    -fx-background-radius: 10px;
}

.text-field-stats {
    -fx-background-radius: 8px;
    -fx-font-size: 25px;
    -fx-font-family: 'Nexa Bold';
    -fx-text-fill: #ffffff;
    -fx-background-color: rgba(60, 60, 60, 0.67);
}

.text-field-substats {
    -fx-background-radius: 8px;
    -fx-font-size: 15px;
    -fx-font-family: 'Nexa Bold';
    -fx-text-fill: #ffffff;
    -fx-background-color: rgba(60, 60, 60, 0.67);
}

.text-field-queuetime {
    -fx-background-radius: 8px;
    -fx-font-size: 50px;
    -fx-font-family: 'Nexa Bold';
    -fx-text-fill: #ffffff;
    -fx-background-color: rgba(28, 28, 28, 0.8);
}

.text-field-active {
    -fx-background-radius: 8px;
    -fx-font-size: 100px;
    -fx-font-family: 'Nexa Bold';
    -fx-text-fill: #ffffff;
    -fx-background-color: rgba(28, 28, 28, 0.8);
}

.label-title {
    -fx-font-size: 30px;
    -fx-font-family: 'Nexa Bold';
}

.label-subtitle {
    -fx-font-size: 30px;
    -fx-font-family: 'Nexa Light';
}

.label-level {
    -fx-font-size: 60px;
    -fx-font-family: 'Nexa Bold';
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
}

.label-60-light {
    -fx-font-size: 60px;
    -fx-font-family: 'Nexa Bold';
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.1, 0, 0);
}

.label-40-light {
    -fx-font-size: 40px;
    -fx-font-family: 'Nexa Bold';
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.1, 0, 0);
}

.label-30-light {
    -fx-font-size: 30px;
    -fx-font-family: 'Nexa Bold';
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.1, 0, 0);
}

.label-25-light {
    -fx-font-size: 25px;
    -fx-font-family: 'Nexa Bold';
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.1, 0, 0);
}


.label-level-progress {
    -fx-font-size: 15px;
    -fx-font-family: 'Nexa Bold';
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.7, 0, 0);
}


.label-bigtitle {
    -fx-font-size: 100px;
    -fx-font-family: 'Nexa Bold';
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
}

.label-body {
    -fx-font-size: 15px;
    -fx-font-family: 'Nexa Light';
}

.label-subtext-warning {
    -fx-font-size: 13px;
    -fx-font-family: 'Nexa Bold';
}

.button-1 {
    -fx-font-size: 40px;
    -fx-font-family: 'Nexa Light';
    -fx-background-color: #2e1c3e;
    -fx-border-radius: 60px;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
    -fx-skin: 'me.logicologist.wordiple.client.gui.buttonskins.UpSkin';
}

.button-2 {
    -fx-font-size: 25px;
    -fx-font-family: 'Nexa Bold';
    -fx-background-color: #c1c1c1;
    -fx-border-radius: 60px;
    -fx-skin: 'me.logicologist.wordiple.client.gui.buttonskins.BaseLockedSkin';
}

.button-2-small {
    -fx-font-size: 15px;
    -fx-font-family: 'Nexa Bold';
    -fx-background-color: #ff4f4f;
    -fx-border-radius: 60px;
    -fx-skin: 'me.logicologist.wordiple.client.gui.buttonskins.BaseLockedSkin';
}

.button-3 {
    -fx-font-size: 25px;
    -fx-font-family: 'Nexa Bold';
    -fx-background-color: #ff4f4f;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
    -fx-skin: 'me.logicologist.wordiple.client.gui.buttonskins.UpSkin';
}

.button-3-outline {
    -fx-font-size: 25px;
    -fx-font-family: 'Nexa Bold';
    -fx-background-color: rgba(255, 79, 79, 0.18);
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
}

.rectangle-bg {
    -fx-font-size: 40px;
    -fx-font-family: 'Nexa Light';
    -fx-background-color: #2e1c3e;
    -fx-border-radius: 60px;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
}

.rectangle-swipetransition {
    -fx-background-image: url("./swipetransition.png");
    -fx-background-color: transparent;
}

.rectangle-chirank {
    -fx-background-image: url("chirankbig.png");
    -fx-background-color: transparent;
    -fx-border-radius: 60px;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
}

.rectangle-chirank-small {
    -fx-background-image: url("chiranksmall.png");
    -fx-background-color: transparent;
    -fx-border-radius: 60px;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.1, 0, 0);
}

.button-overlay {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
    -fx-skin: 'me.logicologist.wordiple.client.gui.buttonskins.DownSkin';
}

.button-overlay-right {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
    -fx-skin: 'me.logicologist.wordiple.client.gui.buttonskins.RightSkin';
}

.progress-bar-level > .track {
    -fx-background-radius: 8px;
    -fx-background-image: url("./levelbarbackground.png");
    -fx-background-color: transparent;
}

.progress-bar-level > .bar {
    -fx-background-image: url("./levelbarforeground.png");
    -fx-background-color: transparent;
    -fx-background-radius: 8px;
    -fx-padding: 1px;
    -fx-background-insets: 0;
}

.progress-bar-rank > .track {
    -fx-background-radius: 8px;
    -fx-background-image: url("./rankbarbackground.png");
    -fx-background-color: transparent;
}

.progress-bar-rank > .bar {
    -fx-background-image: url("./rankbarforeground.png");
    -fx-background-color: transparent;
    -fx-background-radius: 8px;
    -fx-padding: 1px;
    -fx-background-insets: 0;
}

.pane-overlay {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(three-pass-box, #000000, 20, 0.2, 0, 0);
}